@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background: #eeeeee;
    padding: 20px;
    margin: 0;
}
.bloco{
    display: flex;
    justify-content: center;
}
.lista_pokemons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card_pokemon{
    background: white;
    border-top: 5px solid #3359ec;
    border-bottom: 5px solid #3359ec;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 500px;
}
.card_pokemon:hover{
    background: #eeeeee;
}
.card_pokemon.selecionado {
    background-color: #98aaef;
}