* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

    color: #222222;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.main-container {
    width: 100vw;

    min-height: 500px;
    min-width: 500px;

    position: relative;
}

.search-container__input {
    border: 1px solid;
    border-color: rgb(231, 231, 231);
    border-radius: 30px;

    padding: 8px 4px;

    display: flex;

    align-items: center;
    justify-content: center;
}

.search-container__input:hover {
    box-shadow: 0 0 10px 1px rgb(231, 231, 231);
}

.search-input {
    width: 40vw;

    border: none;
    outline: none;
}

.user-option {
    margin-left: calc(5px + 0.5vh + 0.5vw);
}

.user-option__sign-in-button {
    border-radius: 4px;    
    padding: 10px 24px;

    color: white;

    background-color: #1a73e8;
}

.main-container__footer {
    width: 100vw;
    
    border-top: 1px solid #e8e8e8;
    padding: 16px 16px;

    background-color: #F2F2F2;
    

    display: flex;

    justify-content: space-between;
}

.footer-items-container {
    display: flex;
}

.footer-items-container__item {
    margin: 0 16px;

    color: #70757A;

    cursor: pointer;
}