body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.principal{
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
    background-color: #f8f8f8;
    border-radius: 20px;
}

.titulo{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2px;
}

.personagens{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: pointer;
}

.legenda{
    text-align: center;
    font-weight: bold;
}

button{
    border-radius: 25px;
    background-color: blue;
    text-align: center;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer; /*cursor mãozinha quando passar no botão */
}

#btnCalcular:focus{
    background-color: purple;
    transition-duration: 0.5s;
}
